################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/avs-lis
/BarcodePrint/bin
/BarcodePrint/obj
/LIS.Businesslogic/.vs
/LIS.Businesslogic/bin
/LIS.Businesslogic/obj
/LIS.Com.Businesslogic/.vs
/LIS.Com.Businesslogic/bin
/LIS.Com.Businesslogic/obj
/LIS.Com.Businesslogic/Scripts
/LIS.Businesslogic/Scripts
/LIS.DataModel/.vs
/LIS.DataModel/bin
/LIS.DataModel/Data
/LIS.DataModel/obj
/LIS.DataModel/Scripts
/LIS.DtoModel/.vs
/LIS.DtoModel/bin
/LIS.DtoModel/obj
/LIS.DtoModel/Scripts
/LIS.Logger/.vs
/LIS.Logger/bin
/LIS.Logger/obj
/LIS.Logger/Scripts
/LisTCPIPConsole/.vs
/LisTCPIPConsole/bin
/LisTCPIPConsole/obj
/LisTCPIPConsole/Scripts
/packages
/Test.COM/.vs
/Test.COM/bin
/Test.COM/obj
/Test.COM/Scripts
/web/Lis.Api/.vs
/web/Lis.Api/bin
/web/Lis.Api/log
/web/Lis.Api/obj
/web/Lis.Api/Scripts
/web/Lis.Api.Client/.vs
/web/Lis.Api.Client/bin
/web/Lis.Api.Client/obj
/web/Lis.Api.Client/Scripts
/web/Lis.Api.Client.Test/.vs
/web/Lis.Api.Client.Test/bin
/web/Lis.Api.Client.Test/obj
/web/Lis.Api.Client.Test/Scripts
/BarcodePrint/log
/web/Lis.Web/dist/DxI800
/.vs/CopilotSnapshots/55C54FB76C18AE46858C3A2A94329F18
/LIS.Masters.Tests/bin/Debug
/LIS.Masters.Tests/obj/Debug
/LIS.Masters.Tests/bin/Release
/LIS.Masters.Tests/obj/Release
