<div class="container-fluid" *ngIf="isLoaded">
    <div class="row">
        <div class="col-md-12">

            <div class="page-card">

                <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">

             
                    <div class="page-header-title">
                        <h2 class="page-title">Add User</h2>
                        <div class="single-line"></div>
                    </div>

                    <div *ngIf="!emailConfirmed" class="alert alert-danger">
                        Once user is created, the account will be set with default password.
                        <br>
                        Users are suggested to change the password at their first login.
                        <br>
                        By changing password, you help make sure that only you can use your account.
                    </div>

                    <div class="alert alert-info">
                        <strong>Default Password :</strong> Admin@123
                    </div>

                    <h3 class="section-title">Account Information</h3>

                
                    <div class="row form-row">

                        <div class="col-md-2">
                            <label>First Name <span class="required">*</span></label>
                        </div>

                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                <input type="text"
                                    class="form-control"
                                    formControlName="first_name"
                                    placeholder="Enter First Name"
                                    maxlength="25">
                            </div>

                            <span class="error" *ngIf="isInValid('first_name')">
                                First Name is required.
                            </span>
                        </div>

                        <div class="col-md-2">
                            <label>Last Name <span class="required">*</span></label>
                        </div>

                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>

                                <input type="text"
                                    class="form-control"
                                    formControlName="last_name"
                                    placeholder="Enter Last Name"
                                    maxlength="20">
                            </div>

                            <span class="error" *ngIf="isInValid('last_name')">
                                Last Name is required.
                            </span>
                        </div>

                    </div>

               
                    <div class="row form-row">

                        <div class="col-md-2">
                            <label>Email <span class="required">*</span></label>
                        </div>

                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </span>

                                <input type="email"
                                    class="form-control"
                                    formControlName="email"
                                    placeholder="Enter Email">
                            </div>

                            <span class="error" *ngIf="isInValid('email')">
                                Email is required.
                            </span>

                            <span class="error" *ngIf="isInValidEmail('email')">
                                Invalid Email.
                            </span>
                        </div>

                        <div class="col-md-2">
                            <label>Phone Number</label>
                        </div>

                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-phone-alt"></i>
                                </span>

                                <input type="text"
                                    class="form-control"
                                    formControlName="phone_number"
                                    maxlength="15"
                                    ui-mask="(9?9?9?) 9?9?9?-9?9?9?9?"
                                    placeholder="(___) ___-____"
                                    ui-mask-placeholder-char="-">
                            </div>
                        </div>

                    </div>

            
                    <div class="row form-row" *ngIf="isDoctorRoleSelected()">

                        <div class="col-md-2">
                            <label>Doctor Designation <span class="required">*</span></label>
                        </div>

                        <div class="col-md-4">

                            <textarea class="form-control doctor-designation-field"
                                rows="4"
                                formControlName="doctor_designation"
                                placeholder="Consultant Pathologist"
                                maxlength="100"></textarea>

                            <span class="error" *ngIf="isInValid('doctor_designation')">
                                Doctor designation is required.
                            </span>

                            <span class="error" *ngIf="isInValidMaxLength('doctor_designation')">
                                Maximum 100 characters.
                            </span>

                        </div>

                        <div class="col-md-2">
                            <label>Doctor Signature <span class="required">*</span></label>
                        </div>

                        <div class="col-md-4">

                            <input type="file"
                                class="form-control"
                                accept=".png,.jpg,.jpeg,image/png,image/jpeg"
                                (change)="onSignatureSelected($event)">

                            <small class="help-block">
                                PNG/JPG, Maximum 2 MB
                            </small>

                            <span class="error" *ngIf="signatureError">
                                {{signatureError}}
                            </span>

                            <div *ngIf="signaturePreviewUrl"
                                class="doctor-signature-preview">

                                <img [src]="signaturePreviewUrl">

                            </div>

                        </div>

                    </div>

              
                    <div class="row form-row">

                        <div class="col-md-2">
                            <label>Roles</label>
                        </div>

                        <div class="col-md-10">

                            <div class="roles-box">

                                <div class="checkbox"
                                    *ngFor="let role of item.roles">

                                    <label>

                                        <input type="checkbox"
                                            id="{{'c_'+role.id}}"
                                            [checked]="role.isInRole"
                                            attr.data-id="{{role.id}}"
                                            (change)="onCheckRole($event)">

                                        {{role.name}}

                                    </label>

                                </div>

                            </div>

                        </div>

                    </div>

                    <alert></alert>

                    <hr>

                    <!-- Buttons -->
                    <div class="button-area">

                        <button
                            type="submit"
                            class="btn btn-update"
                            *ngIf="hasAccess()">

                            Save

                        </button>

                        <a
                            [routerLink]="['/','users']"
                            class="btn btn-cancel">

                            Back

                        </a>

                    </div>

                </form>

            </div>

        </div>
    </div>
</div>