<div class="container-fluid" *ngIf="isLoaded">

    <div class="row">

        <div class="col-md-12">

            <div class="page-card">

 
                <div class="page-header-title">
                    <h2 class="page-title">
                        View Role Details
                    </h2>

                    <div class="single-line"></div>
                </div>

               
                <h3 class="section-title">
                    Role Information
                </h3>

                <div class="row form-row">

                    <div class="col-md-2">
                        <label>Role Name</label>
                    </div>

                    <div class="col-md-10 value-text">
                        {{item.name}}
                    </div>

                </div>

                <div class="button-area">

                    <a
                        class="btn btn-update"
                        [routerLink]="['/','roles','edit',item.id]"
                        *ngIf="hasAccess()">

                        Edit

                    </a>

                    <a
                        [routerLink]="['/roles']"
                        class="btn btn-cancel">

                        Back to List

                    </a>

                </div>

                <hr>



                <h3 class="section-title">
                    Permission Details
                </h3>

                <div class="table-responsive">

                    <table class="table permission-table">

                        <thead>

                            <tr>

                                <th>Module</th>

                                <th>View</th>

                                <th>Add</th>

                                <th>Edit</th>

                                <th>Delete</th>

                                <th>Authorize</th>

                                <th>Reject</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr *ngFor="let perm of item.rolePermission">

                                <td>{{perm.name}}</td>

                                <td>
                                    <span
                                        [ngClass]="perm.canView ? 'status-yes' : 'status-no'">

                                        {{perm.canView ? 'Yes' : 'No / NA'}}

                                    </span>
                                </td>

                                <td>
                                    <span
                                        [ngClass]="perm.canAdd ? 'status-yes' : 'status-no'">

                                        {{perm.canAdd ? 'Yes' : 'No / NA'}}

                                    </span>
                                </td>

                                <td>
                                    <span
                                        [ngClass]="perm.canEdit ? 'status-yes' : 'status-no'">

                                        {{perm.canEdit ? 'Yes' : 'No / NA'}}

                                    </span>
                                </td>

                                <td>
                                    <span
                                        [ngClass]="perm.canDelete ? 'status-yes' : 'status-no'">

                                        {{perm.canDelete ? 'Yes' : 'No / NA'}}

                                    </span>
                                </td>

                                <td>
                                    <span
                                        [ngClass]="perm.canAuthorize ? 'status-yes' : 'status-no'">

                                        {{perm.canAuthorize ? 'Yes' : 'No / NA'}}

                                    </span>
                                </td>

                                <td>
                                    <span
                                        [ngClass]="perm.canReject ? 'status-yes' : 'status-no'">

                                        {{perm.canReject ? 'Yes' : 'No / NA'}}

                                    </span>
                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

                <hr>

                <div class="button-area">

                    <a
                        class="btn btn-update"
                        [routerLink]="['/','roles','edit',item.id]"
                        *ngIf="hasAccess()">

                        Edit

                    </a>

                    <a
                        [routerLink]="['/roles']"
                        class="btn btn-cancel">

                        Back to List

                    </a>

                </div>

            </div>

        </div>

    </div>

</div>