<div class="row">
    <div class="col-md-6">
        <!-- <div style="float:left; margin-right: 5px;">
            <button type="button" class="btn btn-primary" (click)="getHisSample()" [disabled]="isInProgress" *ngIf="hasAccess()">Collect all
                available
                orders from external system.</button>
        </div> -->
        <!-- Create Sample button removed as per stabilization requirement -->
    </div>
    <div class="col-md-6">

    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <alert></alert>
    </div>
</div>