<div class="content avilis-auth-wrap">
    <div class="page-wrapper">
        <h2>Sign in to ZoryaLIS Laboratory Portal</h2>
        <div class="row avilis-login-row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="page-content avilis-login-card">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <h4>Use your account to log in</h4>
                        <p class="text-muted" style="margin-bottom:16px;font-size:13px;">Secure access to samples, results, and laboratory workflows.</p>
                        <hr />
                        <div class="form-group ">
                            <div class="input-group ">
                                <span class="input-group-addon "><i class="glyphicon glyphicon-user "></i></span>
                                <input [type]="'email'" autocomplete="username" placeholder="Email "
                                    class="form-control" formControlName="username"
                                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            </div>
                            <div class="input-group " style="height:20px; ">
                                <span *ngIf="submitted && f.username.errors" class="error ">Email is required.</span>
                            </div>
                            <div class="input-group ">
                                <span class="input-group-addon "><i class="glyphicon glyphicon-lock "></i></span>
                                <input [type]="'password'" autocomplete="current-password" placeholder="Password "
                                    class="form-control" formControlName="password"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            </div>
                            <div class="input-group " style="height:20px; ">
                                <span *ngIf="submitted && f.password.errors" class="error ">Password is required.</span>
                            </div>
                            <div class="input-group " style="margin-top:8px;">
                                <button class="btn btn-default btn-blue btn-block">Sign in</button>
                            </div>
                            <div style="text-align:left; margin-top:12px;">
                                <alert></alert>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>