<div class="content avilis-auth-wrap">
    <div class="page-wrapper">
        <h2>Sign in to ZoryaLMS Laboratory Portal</h2>
        <div class="row avilis-login-row">
            <div class="col-xs-12">
                <div class="page-content avilis-login-card">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <h4>Use your account to log in</h4>
                        <p class="text-muted login-subtitle">Secure access to samples, results, and laboratory workflows.</p>
                        <hr />
                        <div class="form-group" [ngClass]="{ 'has-error': submitted && f.username.errors }">
                            <label for="login-email">Email</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="login-email" type="email" autocomplete="username" placeholder="Email"
                                    class="form-control" formControlName="username" />
                            </div>
                            <span *ngIf="submitted && f.username.errors?.required" class="help-block error">Email is required.</span>
                            <span *ngIf="submitted && f.username.errors?.email" class="help-block error">Enter a valid email address.</span>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': submitted && f.password.errors }">
                            <label for="login-password">Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="login-password" type="password" autocomplete="current-password" placeholder="Password"
                                    class="form-control" formControlName="password" />
                            </div>
                            <span *ngIf="submitted && f.password.errors" class="help-block error">Password is required.</span>
                        </div>
                        <div class="form-group login-actions">
                            <button type="submit" class="btn btn-default btn-blue btn-block" [disabled]="loading">
                                <span *ngIf="loading" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
                                {{ loading ? 'Signing in...' : 'Sign in' }}
                            </button>
                        </div>
                        <div class="login-alert-wrap">
                            <alert></alert>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
