<div class="container-fluid">

    <div class="row">

        <div class="col-md-12">


            <div class="page-card">




                <div class="page-header-title">

                    <h2 class="page-title">
                        Change Your Password
                    </h2>

                    <div class="single-line"></div>

                </div>



                <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">



    


                    <div class="row detail-row">


                        <div class="col-md-3 detail-label">

                            Old Password <span class="error">*</span>

                        </div>



                        <div class="col-md-6">


                            <div class="input-group">


                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>



                                <input 
                                    type="password"
                                    autocomplete="OldPassword"
                                    placeholder="Enter Old Password"
                                    class="form-control"
                                    formControlName="oldPassword"
                                    [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }">


                            </div>



                            <span 
                                *ngIf="submitted && f.oldPassword.errors"
                                class="error">

                                Old Password is required.

                            </span>


                        </div>


                    </div>





      


                    <div class="row detail-row">


                        <div class="col-md-3 detail-label">

                            New Password <span class="error">*</span>

                        </div>



                        <div class="col-md-6">


                            <div class="input-group">


                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>



                                <input 
                                    type="password"
                                    autocomplete="current-password"
                                    placeholder="Enter New Password"
                                    class="form-control"
                                    formControlName="newPassword"
                                    [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">


                            </div>



                            <span 
                                *ngIf="submitted && f.newPassword.errors"
                                class="error">

                                New Password is required.

                            </span>


                        </div>


                    </div>






 


                    <div class="row detail-row">


                        <div class="col-md-3 detail-label">

                            Confirm Password <span class="error">*</span>

                        </div>



                        <div class="col-md-6">


                            <div class="input-group">


                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>



                                <input 
                                    type="password"
                                    autocomplete="current-password"
                                    placeholder="Confirm Password"
                                    class="form-control"
                                    formControlName="confirmPassword"
                                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">


                            </div>



                            <span 
                                *ngIf="submitted && f.confirmPassword.errors"
                                class="error">

                                Confirm Password is required.

                            </span>


                            <span 
                                *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.mustMatch"
                                class="error">

                                Password does not match.

                            </span>


                        </div>


                    </div>




                    <div class="row">


                        <div class="col-md-12">


                            <alert></alert>


                        </div>


                    </div>




                    <hr>




      


                    <div class="button-area">


                        <button 
                            type="submit"
                            class="btn btn-update">

                            Submit

                        </button>


                    </div>



                </form>



            </div>


        </div>


    </div>


</div>