<br>
<div class="col-md-10 col-md-offset-1" *ngIf="form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3>{{title}} {{id ? '(Edit)' : '(Create)'}}</h3>
    <hr />

    <ng-container *ngFor="let field of fields">
      <div class="row" *ngIf="field.type !== 'checkbox'">
        <div class="col-sm-2 col-md-2 col-lg-2 form-grid-stye">
          <label>{{field.label}}<span class="error" *ngIf="field.required">*</span></label>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 form-grid-stye">
          <div class="input-group" *ngIf="field.type !== 'select'">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <input *ngIf="field.type === 'text' || field.type === 'number' || field.type === 'date'"
              [type]="field.type === 'number' ? 'number' : (field.type === 'date' ? 'date' : 'text')"
              class="form-control" [formControlName]="field.name"
              [readonly]="field.name === 'code' && !!id && apiName !== 'Department'" />
          </div>
          <select *ngIf="field.type === 'select'" class="form-control" [formControlName]="field.name">
            <option *ngFor="let opt of field.options" [value]="opt.value">{{opt.label}}</option>
          </select>
          <span *ngIf="submitted && f[field.name]?.invalid" class="error">{{field.label}} is required.</span>
        </div>
      </div>
      <div class="row" *ngIf="field.type === 'checkbox'">
        <div class="col-sm-12 form-grid-stye">
          <label><input type="checkbox" [formControlName]="field.name" /> {{field.label}}</label>
        </div>
      </div>
      <br *ngIf="field.type !== 'checkbox'" />
    </ng-container>

    <ng-container *ngIf="apiName === 'TestRate'">
      <p *ngIf="!lookupsLoaded" class="text-muted">Loading lookups...</p>
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 form-grid-stye"><label>Test<span class="error">*</span></label></div>
        <div class="col-sm-4 col-md-4 col-lg-4 form-grid-stye">
          <select class="form-control" formControlName="testId" [disabled]="!lookupsLoaded">
            <option [ngValue]="null">-- Select Test --</option>
            <option *ngFor="let t of tests" [ngValue]="t.id">{{t.hisTestCode}} - {{t.hisTestCodeDescription}}</option>
          </select>
          <span *ngIf="submitted && f.testId?.invalid" class="error">Test is required.</span>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2 form-grid-stye"><label>Rate Type</label></div>
        <div class="col-sm-4 col-md-4 col-lg-4 form-grid-stye">
          <select class="form-control" formControlName="rateType" (change)="onRateTypeChange()">
            <option [ngValue]="0">Standard</option>
            <option [ngValue]="1">Corporate</option>
            <option [ngValue]="2">Referral Doctor</option>
            <option [ngValue]="3">Profile</option>
            <option [ngValue]="4">Emergency</option>
          </select>
        </div>
      </div>
      <br />
      <div class="row" *ngIf="rateType === 1">
        <div class="col-sm-2 col-md-2 col-lg-2 form-grid-stye"><label>Corporate<span class="error">*</span></label></div>
        <div class="col-sm-4 col-md-4 col-lg-4 form-grid-stye">
          <select class="form-control" formControlName="corporateId" [disabled]="!lookupsLoaded">
            <option [ngValue]="null">-- Select Corporate --</option>
            <option *ngFor="let c of corporates" [ngValue]="c.id">{{c.code}} - {{c.name}}</option>
          </select>
          <span *ngIf="submitted && f.corporateId?.invalid" class="error">Corporate is required.</span>
        </div>
      </div>
      <br *ngIf="rateType === 1" />
      <div class="row" *ngIf="rateType === 2">
        <div class="col-sm-2 col-md-2 col-lg-2 form-grid-stye"><label>Referral Doctor<span class="error">*</span></label></div>
        <div class="col-sm-4 col-md-4 col-lg-4 form-grid-stye">
          <select class="form-control" formControlName="referralDoctorId" [disabled]="!lookupsLoaded">
            <option [ngValue]="null">-- Select Doctor --</option>
            <option *ngFor="let d of doctors" [ngValue]="d.id">{{d.code}} - {{d.name}}</option>
          </select>
          <span *ngIf="submitted && f.referralDoctorId?.invalid" class="error">Referral Doctor is required.</span>
        </div>
      </div>
      <br *ngIf="rateType === 2" />
      <div class="row" *ngIf="rateType === 3">
        <div class="col-sm-2 col-md-2 col-lg-2 form-grid-stye"><label>Test Profile<span class="error">*</span></label></div>
        <div class="col-sm-4 col-md-4 col-lg-4 form-grid-stye">
          <select class="form-control" formControlName="testProfileId" [disabled]="!lookupsLoaded">
            <option [ngValue]="null">-- Select Profile --</option>
            <option *ngFor="let p of profiles" [ngValue]="p.id">{{p.code}} - {{p.name}}</option>
          </select>
          <span *ngIf="submitted && f.testProfileId?.invalid" class="error">Test Profile is required.</span>
        </div>
      </div>
      <br *ngIf="rateType === 3" />
    </ng-container>

    <button type="submit" class="btn btn-primary" [disabled]="loading">Save</button>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-warning" *ngIf="id && apiName !== 'Department'" (click)="deactivate()">Deactivate</button>
  </form>
</div>
