<div class="container-fluid" *ngIf="isLoaded">

    <div class="row">

        <div class="col-md-12">


            <div class="page-card">


                <form [formGroup]="editTestForm" (ngSubmit)="onSubmit()">



             

                    <div class="page-header-title">

                        <h2 class="page-title">
                            Edit Test
                        </h2>

                        <div class="single-line"></div>

                    </div>





                    <h3 class="section-title">
                        Test Information
                    </h3>





                  


                    <div class="row form-row">


                  

                        <div class="col-md-2">

                            <label>
                                Test Code
                                <span class="required">*</span>
                            </label>

                        </div>


                        <div class="col-md-4">


                            <div class="input-group">


                                <span class="input-group-addon">

                                    <i class="glyphicon glyphicon-barcode"></i>

                                </span>


                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="hisTestCode"
                                    placeholder="Enter Test Code"
                                    maxlength="50">


                            </div>


                            <span class="error"
                                  *ngIf="isInValid('hisTestCode')">

                                Test Code is required.

                            </span>


                        </div>





             


                        <div class="col-md-2">


                            <label>

                                Test Name

                                <span class="required">*</span>

                            </label>


                        </div>



                        <div class="col-md-4">


                            <div class="input-group">


                                <span class="input-group-addon">

                                    <i class="glyphicon glyphicon-tag"></i>

                                </span>



                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="hisTestCodeDescription"
                                    placeholder="Enter Test Name"
                                    maxlength="100">


                            </div>


                            <span class="error"
                                  *ngIf="isInValid('hisTestCodeDescription')">

                                Test Name is required.

                            </span>


                        </div>


                    </div>






        


                    <div class="row form-row">


                 


                        <div class="col-md-2">

                            <label>

                                Specimen

                                <span class="required">*</span>

                            </label>

                        </div>



                        <div class="col-md-4">


                            <div class="input-group">


                                <span class="input-group-addon">

                                    <i class="glyphicon glyphicon-list"></i>

                                </span>



                                <select
                                    class="form-control"
                                    formControlName="hisSpecimenCode">


                                    <option value="">
                                        Select Specimen
                                    </option>


                                    <option
                                        *ngFor="let specimen of specimens"
                                        [ngValue]="specimen.code || specimen.Code">


                                        {{specimen.name || specimen.Name}}


                                    </option>


                                </select>



                            </div>



                            <span class="error"
                                  *ngIf="isInValid('hisSpecimenCode')">

                                Specimen is required.

                            </span>


                        </div>









                        <div class="col-md-2">

                            <label>

                                Department

                                <span class="required">*</span>

                            </label>

                        </div>



                        <div class="col-md-4">


                            <div class="input-group">


                                <span class="input-group-addon">

                                    <i class="glyphicon glyphicon-list"></i>

                                </span>



                                <select
                                    class="form-control"
                                    formControlName="departmentCode">


                                    <option value="">
                                        Select Department
                                    </option>


                                    <option
                                        *ngFor="let department of departments"
                                        [ngValue]="department.code || department.Code">


                                        {{department.name || department.Name}}


                                    </option>


                                </select>


                            </div>




                            <span class="error"
                                  *ngIf="isInValid('departmentCode')">

                                Department is required.

                            </span>



                        </div>


                    </div>







        


                    <div class="row form-row">


                        <div class="col-md-2">

                            <label>
                                Active
                            </label>


                        </div>



                        <div class="col-md-4">


                            <input
                                type="checkbox"
                                class="checkbox-style"
                                formControlName="isActive">


                        </div>


                    </div>







                    <alert></alert>





                    <hr>





             


                    <div class="button-area">


                        <button
                            class="btn btn-update"
                            [disabled]="loading">


                            <span
                                *ngIf="loading"
                                class="spinner-border spinner-border-sm mr-2">
                            </span>


                            Update


                        </button>





                        <button
                            type="button"
                            class="btn btn-cancel"
                            (click)="router.navigate(['/test-master'])">


                            Cancel


                        </button>


                    </div>




                </form>


            </div>


        </div>


    </div>


</div>