<div class="container-fluid" *ngIf="isLoaded">

    <div class="row">

        <div class="col-md-12">

            <div class="page-card">

   

                <div class="page-header-title">

                    <h2 class="page-title">
                        Add Equipment
                    </h2>

                    <div class="single-line"></div>

                </div>


                <form [formGroup]="addEquipmentForm" (ngSubmit)="onSubmit()">


            

                    <div class="row detail-row">

                        <div class="col-md-3 detail-label">
                            Equipment Name <span class="error">*</span>
                        </div>


                        <div class="col-md-6">

                            <div class="input-group">

                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-blackboard"></i>
                                </span>

                                <input 
                                    type="text"
                                    class="form-control"
                                    formControlName="name"
                                    placeholder="Enter Equipment Name"
                                    maxlength="25">

                            </div>


                            <span *ngIf="isInValid('name')" class="error">
                                Equipment Name is required.
                            </span>


                        </div>


                    </div>



     


                    <div class="row detail-row">


                        <div class="col-md-3 detail-label">
                            Equipment Model <span class="error">*</span>
                        </div>


                        <div class="col-md-6">


                            <div class="input-group">


                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-blackboard"></i>
                                </span>


                                <select 
                                    formControlName="model"
                                    class="form-control">


                                    <option value="">
                                        --Select Model--
                                    </option>


                                    <option *ngFor="let item of models" [ngValue]="item">
                                        {{item}}
                                    </option>


                                </select>


                            </div>


                            <span *ngIf="isInValid('model')" class="error">
                                Equipment Model is required.
                            </span>


                        </div>


                    </div>




  


                    <div class="row detail-row">


                        <div class="col-md-3 detail-label">

                            Access Key <span class="error">*</span>

                        </div>



                        <div class="col-md-6">


                            <div class="input-group">


                                <span 
                                    class="input-group-addon key-icon"
                                    (click)="GenerateKey()"
                                    title="Change Key">

                                    <i class="glyphicon glyphicon-lock"></i>

                                </span>



                                <input 
                                    type="text"
                                    class="form-control"
                                    formControlName="accessKey"
                                    placeholder="Enter Access Key"
                                    maxlength="32"
                                    readonly>


                            </div>



                            <span *ngIf="isInValid('accessKey')" class="error">
                                Access Key is required.
                            </span>


                        </div>


                    </div>



                    <div class="row">

                        <div class="col-md-12">

                            <alert></alert>

                        </div>

                    </div>



                    <hr>



            


                    <div class="button-area">


                        <button 
                            type="submit"
                            class="btn btn-update"
                            *ngIf="hasAccess()">

                            Next

                        </button>



                        <a 
                            [routerLink]="['/','equipments']"
                            class="btn btn-cancel">

                            Back to List

                        </a>


                    </div>



                </form>


            </div>


        </div>


    </div>


</div>