<?xml version="1.0" encoding="utf-8"?>
<!--
  Local production publish profile for AVILIS deployment.
  Note: Full MSBuild publish may fail if Scripts\jquery-*.js files are missing.
  Use I:\Projects\PROD\AVILIS\SCRIPTS\deploy-api.bat for reliable filesystem deploy.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>I:\Projects\PROD\AVILIS\API</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <TransformWebConfigEnabled>True</TransformWebConfigEnabled>
  </PropertyGroup>
</Project>
