<div class="container-fluid" *ngIf="isLoaded">

    <div class="row">

        <div class="col-md-12">

            <div class="page-card">

      

                <div class="page-header-title">

                    <div class="row">

                        <div class="col-md-6">

                            <h2 class="page-title">
                                Test Details - {{item.sampleNo}}
                            </h2>

                        </div>


                        <div class="col-md-6 action-header">

                            <a
                                [routerLink]="['/lab-result-entry', item.sampleNo]"
                                class="btn btn-update">

                                Lab Result Entry

                            </a>


                            <a
                                [routerLink]="['/samples/edit/',id]"
                                class="btn btn-update">

                                Add New Test

                            </a>

                        </div>

                    </div>


                    <div class="single-line"></div>

                </div>




                <h3 class="section-title">
                    Patient Information
                </h3>


                <div class="row">


                    <div class="col-md-7">


                        <div class="row detail-row">

                            <div class="col-md-3 detail-label">
                                LABNO
                            </div>

                            <div class="col-md-3 detail-value">
                                {{item.hisRequestNo}}
                            </div>


                            <div class="col-md-3 detail-label">
                                Patient Id
                            </div>

                            <div class="col-md-3 detail-value">
                                {{item.patient.hisPatientId}}
                            </div>

                        </div>



                        <div class="row detail-row">

                            <div class="col-md-3 detail-label">
                                Patient Name
                            </div>

                            <div class="col-md-3 detail-value">
                                {{item.patient.name}}
                            </div>


                            <div class="col-md-3 detail-label">
                                Age
                            </div>

                            <div class="col-md-3 detail-value">
                                {{item.patient.age | number:'1.0-2'}}
                            </div>

                        </div>



                        <div class="row detail-row">

                            <div class="col-md-3 detail-label">
                                Gender
                            </div>

                            <div class="col-md-3 detail-value">
                                {{item.patient.gender}}
                            </div>


                            <div class="col-md-3 detail-label">
                                Department
                            </div>

                            <div class="col-md-3 detail-value">
                                {{item.department}}
                            </div>

                        </div>



                        <div class="row detail-row">

                            <div class="col-md-3 detail-label">
                                Test Name
                            </div>

                            <div class="col-md-3 detail-value">
                                {{item.hisTestName}}
                            </div>


                            <div class="col-md-3 detail-label">
                                Specimen
                            </div>

                            <div class="col-md-3 detail-value">
                                {{item.specimenName}}
                            </div>

                        </div>



                        <div class="row detail-row" *ngIf="item.ipNo">

                            <div class="col-md-3 detail-label">
                                IPNo
                            </div>

                            <div class="col-md-3 detail-value">
                                {{item.ipNo}}
                            </div>


                            <div class="col-md-3 detail-label">
                                BedNo
                            </div>

                            <div class="col-md-3 detail-value">
                                {{item.bedNo}}
                            </div>

                        </div>


                    </div>




                  


                    <div class="col-md-5">


                        <div class="row detail-row">

                            <div class="col-md-6 detail-label">
                                MR NO.
                            </div>

                            <div class="col-md-6 detail-value">
                                {{item.mrNo}}
                            </div>

                        </div>




                        <div class="row detail-row">

                            <div class="col-md-6 detail-label">
                                Barcode NO.
                            </div>


                            <div class="col-md-6">


                                <div class="barcode-box">


                                    <app-barcode
                                        [code]="item.sampleNo"
                                        [text]="item.barcodeText">
                                    </app-barcode>


                                </div>


                            </div>


                        </div>





                        <div class="row detail-row">

                            <div class="col-md-6 detail-label">
                                Sample Col. Date
                            </div>


                            <div class="col-md-6 detail-value">

                                {{item.sampleCollectionDate | date:'dd/MM/yyyy hh:mm a'}}

                            </div>


                        </div>


                    </div>


                </div>



                <hr>



   


                <h3 class="section-title">
                    Test Parameters
                </h3>



                <div class="table-responsive">


                    <table class="table table-striped">


                        <thead>

                            <tr>

                                <th>
                                    Parameter Code
                                </th>

                                <th>
                                    Parameter Name
                                </th>

                            </tr>

                        </thead>


                        <tbody>

                            <tr *ngFor="let result of item.parameters">

                                <td>
                                    {{result.hisParamCode}}
                                </td>


                                <td>
                                    {{result.hisParamName}}
                                </td>


                            </tr>


                        </tbody>


                    </table>


                </div>



                <hr>



      


                <div class="button-area">


                    <a
                        [routerLink]="['/samples']"
                        class="btn btn-cancel">

                        Back to List

                    </a>



                    <button
                        type="button"
                        class="btn btn-update"
                        (click)="rerunSample(0)"
                        *ngIf="hasAccess()">

                        Re-Run Sample

                    </button>



                    <button
                        class="btn btn-update"
                        printSectionId="print-section"
                        ngxPrint>

                        Print Barcode

                    </button>


                </div>


            </div>


        </div>

    </div>


</div>






<div style="display:none;visibility:hidden;" *ngIf="isLoaded">

    <div id="print-section">

        <app-barcode
            [code]="item.sampleNo"
            [text]="item.barcodeText">
        </app-barcode>

    </div>

</div>