<div class="container-fluid" *ngIf="isLoaded">

    <div class="row">

        <div class="col-md-12">

            <div class="page-card">

                <form [formGroup]="editRoleForm" (ngSubmit)="onSubmit()">

                    <div class="page-header-title">

                        <h2 class="page-title">
                            Edit Role
                        </h2>

                        <div class="single-line"></div>

                    </div>

                    <h3 class="section-title">
                        Role Information
                    </h3>

         

                    <div class="row form-row">

                        <div class="col-md-2">

                            <label>
                                Role Name
                                <span class="required">*</span>
                            </label>

                        </div>

                        <div class="col-md-4">

                            <div class="input-group">

                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>

                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="name"
                                    placeholder="Enter Role Name"
                                    maxlength="25">

                            </div>

                            <span
                                class="error"
                                *ngIf="isInValid('name')">

                                Role Name is required.

                            </span>

                            <input
                                type="hidden"
                                formControlName="id">

                        </div>

                    </div>

                    <alert></alert>

                    <hr>

                    <div class="button-area">

                        <button
                            type="submit"
                            class="btn btn-update"
                            *ngIf="hasAccess()">

                            Save

                        </button>

                        <a
                            class="btn btn-cancel"
                            [routerLink]="['/','roles']">

                            Back to List

                        </a>

                    </div>

                    <hr>

                    <h3 class="section-title">
                        Role Permissions
                    </h3>

                    <div class="table-responsive">

                        <table class="table permission-table">

                            <thead>

                                <tr>

                                    <th>Module</th>
                                    <th>View</th>
                                    <th>Add</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    <th>Authorize</th>
                                    <th>Reject</th>

                                </tr>

                            </thead>

                            <tbody>

                                <tr *ngFor="let perm of item.rolePermission">

                                    <td class="module-name">

                                        <strong>{{perm.name}}</strong>

                                        <div class="permission-links">

                                            <a
                                                *ngIf="!isAllSelected(perm)"
                                                (click)="selectAll(perm,true)">

                                                Select All

                                            </a>

                                            <a
                                                *ngIf="isNoneSelected(perm)"
                                                (click)="selectAll(perm,false)">

                                                De-select All

                                            </a>

                                        </div>

                                    </td>

                                    <td>
                                        <input
                                            type="checkbox"
                                            [checked]="perm.canView"
                                            (change)="onCheckRole($event,perm,32)">
                                    </td>

                                    <td>
                                        <input
                                            type="checkbox"
                                            [checked]="perm.canAdd"
                                            (change)="onCheckRole($event,perm,1)">
                                    </td>

                                    <td>
                                        <input
                                            type="checkbox"
                                            [checked]="perm.canEdit"
                                            (change)="onCheckRole($event,perm,2)">
                                    </td>

                                    <td>
                                        <input
                                            type="checkbox"
                                            [checked]="perm.canDelete"
                                            (change)="onCheckRole($event,perm,16)">
                                    </td>

                                    <td>
                                        <input
                                            type="checkbox"
                                            [checked]="perm.canAuthorize"
                                            (change)="onCheckRole($event,perm,4)">
                                    </td>

                                    <td>
                                        <input
                                            type="checkbox"
                                            [checked]="perm.canReject"
                                            (change)="onCheckRole($event,perm,8)">
                                    </td>

                                </tr>

                            </tbody>

                        </table>

                    </div>

                    <alert></alert>

                    <hr>

                    <div class="button-area">

                        <button
                            type="submit"
                            class="btn btn-update"
                            *ngIf="hasAccess()">

                            Save

                        </button>

                        <a
                            class="btn btn-cancel"
                            [routerLink]="['/','roles']">

                            Back to List

                        </a>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>